## Data Wrangling

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tweepy
import requests

#### Importing archive File

In [2]:
dogs_df = pd.read_csv('twitter-archive-enhanced.csv')
dogs_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [3]:
dogs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [4]:
dogs_df.tweet_id.nunique()

2356

#### Wrangling tweet image prediction image_predictions.tsv file from Udacity URL

In [5]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
r = requests.get(url)

with open('image_predictions.tsv', 'wb') as file:
    file.write(r.content)

In [6]:
predict_df = pd.read_csv('image_predictions.tsv', sep='\t')
predict_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

#### Wrangling twitter retweets and likes using twiter API

In [7]:
consumer_key = '0ngY2TCKTO0SqaysTtCRuCKkj'
consumer_secret = 'P6QFe66DdW3Xyw2dY1El0bPgaFkywQs4rgb9xGYSy7kK1pdF0z'

access_token = '695797976975990784-b6FSqvHysyaMln7lerN0tjxqbFnhOgm'
access_secret = '1ooTr0UBlNULWMIhOp7YIj4vITQVnVLw3xh5M6a2jyok4'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit= True, wait_on_rate_limit_notify  = True)

In [8]:
from pprint import pprint
import json
import os
import time

def dump_tweet_json(tweet_id, file):
    """
    query the tweet json file specified by twitter id 'tweet_id'
    using twitter API tweepy, parse the json object and write it to the
    file 'file'
    
    Warning! file is assumed open in writing mode
    """
    tweet_status = api.get_status(tweet_id, tweet_mode='extended')
    json.dump(tweet_status._json, file)

In [9]:
deleted_tweets_ids = []
rate_limit_exceeded_tweets  = []

with open('tweet_json.txt', 'w') as file:
    
    ## First Path of Querying tweets
    ## collecting deleted tweets ids and rate_limit_exceeded_tweets
    file.write('[\n')
    for tweet_id in dogs_df.tweet_id:
        try:
            
            dump_tweet_json(tweet_id, file)
            file.write(',\n')
        
        except tweepy.error.RateLimitError:
            rate_limit_exceeded_tweets.append(tweet_id)
        
        except Exception as e:
            deleted_tweets_ids.append(tweet_id)
            print(e,' ', tweet_id)
    
    ## Second Path of Querying tweets
    ## Making sure to collect rate_limit_exceeded_tweets if any 
    
    while rate_limit_exceeded_tweets:
        try:
            tweet_id = rate_limit_exceeded_tweets[0]
            dump_tweet_json(tweet_id, file)
            file.write(',\n')
            rate_limit_exceeded_tweets.pop(0)
            
        except tweepy.error.RateLimitError:
            time.sleep(60)
            
        except tweepy.error.TweepError as tr:
            if tr.message[0]['code'] == 144:
                rate_limit_exceeded_tweets.pop(0)
            else:
                print('Twitter Error: ', twitter_err)
        
        except Exception as e:
            print(e)
            
    file.seek(file.tell() - 3, os.SEEK_SET)
    file.write('\n]')

[{'code': 144, 'message': 'No status found with that ID.'}]   888202515573088257
[{'code': 144, 'message': 'No status found with that ID.'}]   873697596434513921
[{'code': 144, 'message': 'No status found with that ID.'}]   872668790621863937
[{'code': 144, 'message': 'No status found with that ID.'}]   872261713294495745
[{'code': 144, 'message': 'No status found with that ID.'}]   869988702071779329
[{'code': 144, 'message': 'No status found with that ID.'}]   866816280283807744
[{'code': 144, 'message': 'No status found with that ID.'}]   861769973181624320
[{'code': 144, 'message': 'No status found with that ID.'}]   856602993587888130
[{'code': 144, 'message': 'No status found with that ID.'}]   845459076796616705
[{'code': 144, 'message': 'No status found with that ID.'}]   844704788403113984
[{'code': 144, 'message': 'No status found with that ID.'}]   842892208864923648
[{'code': 144, 'message': 'No status found with that ID.'}]   837012587749474308
[{'code': 144, 'message': 'No status found with that ID.'}]   827228250799742977
[{'code': 144, 'message': 'No status found with that ID.'}]   812747805718642688
[{'code': 144, 'message': 'No status found with that ID.'}]   802247111496568832
[{'code': 144, 'message': 'No status found with that ID.'}]   775096608509886464
[{'code': 144, 'message': 'No status found with that ID.'}]   770743923962707968

Rate limit reached. Sleeping for: 309

[{'code': 144, 'message': 'No status found with that ID.'}]   754011816964026368
[{'code': 144, 'message': 'No status found with that ID.'}]   680055455951884288

Rate limit reached. Sleeping for: 320

In [11]:
## Reading needed information from tweet_json to a dataframe
## needed info.: retweet_count, favorite_count
## in_reply_to_status_id, in_reply_to_user_id

df = pd.read_json('tweet_json.txt')

In [13]:
df.columns

Index(['contributors', 'coordinates', 'created_at', 'display_text_range',
       'entities', 'extended_entities', 'favorite_count', 'favorited',
       'full_text', 'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'possibly_sensitive_appealable',
       'quoted_status', 'quoted_status_id', 'quoted_status_id_str',
       'quoted_status_permalink', 'retweet_count', 'retweeted',
       'retweeted_status', 'source', 'truncated', 'user'],
      dtype='object')

In [38]:
tweets_add_df = df[['retweet_count' , 'favorite_count', 'in_reply_to_status_id', 
                    'in_reply_to_user_id', 'is_quote_status', 'quoted_status_id', 'retweeted_status']]

tweets_add_df.head(3)

,retweet_count,favorite_count,in_reply_to_status_id,in_reply_to_user_id,is_quote_status,quoted_status_id,retweeted_status
0,8193,37554,NaN,NaN,False,NaN,NaN
1,6060,32278,NaN,NaN,False,NaN,NaN
2,4008,24320,NaN,NaN,False,NaN,NaN

In [15]:
dogs_df.shape

(2356, 17)

In [16]:
len(deleted_tweets_ids) + df.shape[0]

2356

In [14]:
df.shape

(2337, 32)

In [30]:
df.head(3)

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,quoted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37554,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,NaN,NaN,NaN,NaN,8193,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32278,False,This is Tilly. She's just checking pup on you....,NaN,...,NaN,NaN,NaN,NaN,6060,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24320,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,NaN,NaN,NaN,NaN,4008,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [29]:
list(df['user'].apply(pd.Series))

['id',
 'id_str',
 'name',
 'screen_name',
 'location',
 'description',
 'url',
 'entities',
 'protected',
 'followers_count',
 'friends_count',
 'listed_count',
 'created_at',
 'favourites_count',
 'utc_offset',
 'time_zone',
 'geo_enabled',
 'verified',
 'statuses_count',
 'lang',
 'contributors_enabled',
 'is_translator',
 'is_translation_enabled',
 'profile_background_color',
 'profile_background_image_url',
 'profile_background_image_url_https',
 'profile_background_tile',
 'profile_image_url',
 'profile_image_url_https',
 'profile_banner_url',
 'profile_link_color',
 'profile_sidebar_border_color',
 'profile_sidebar_fill_color',
 'profile_text_color',
 'profile_use_background_image',
 'has_extended_profile',
 'default_profile',
 'default_profile_image',
 'following',
 'follow_request_sent',
 'notifications',
 'translator_type']

In [35]:
df['user'].apply(pd.Series)[['id', 'name', 'created_at', 'friends_count', 'followers_count', 'favourites_count', 'listed_count', 'statuses_count']]

,id,name,created_at,friends_count,followers_count,favourites_count,listed_count,statuses_count
0,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026597,141917,6187,10170
1,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026597,141917,6187,10170
2,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026597,141917,6187,10170
3,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026597,141917,6187,10170
4,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026597,141917,6187,10170
5,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026597,141917,6187,10170
6,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
7,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
8,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
9,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
10,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
11,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
12,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
13,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
14,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
15,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
16,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
17,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
18,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
19,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
20,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
21,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
22,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
23,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
24,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
25,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
26,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
27,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
28,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8027221,141918,6186,10170
29,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026596,141917,6187,10170
...,...,...,...,...,...,...,...,...
2307,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2308,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2309,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2310,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2311,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2312,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2313,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2314,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2315,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2316,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2317,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2318,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2319,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2320,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2321,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2322,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2323,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2324,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2325,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2326,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2327,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2328,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2329,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2330,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2331,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2332,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2333,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2334,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2335,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170
2336,4196983835,WeRateDogs™,Sun Nov 15 21:41:29 +0000 2015,12,8026659,141917,6187,10170